#value-container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#value-container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.floating-button-left {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
}

.floating-button-right {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 120px;
    border-radius: 50%;
}
